img{
  border-radius: 150px;
  height: 300px;
  width: 300px;
  float: inherit;
}
body{
  background-color: #edf1ff ;
  font-weight: 400;
}
.About-Me{
  color: red;
}
.important{
  color: black;
}
.achieve{
  color: black;
}
